.main-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 0px auto 0 auto;
    min-height: calc(100vh - 70px);
    height: 840;
  
    > section {
      padding-left: 15px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 0 auto 0px;
      flex-grow: 1;
      width: 100%;
      height: 840;
    }
  }
  