.dropdown-toggle {
    //margin-top: 10px;
    min-width: 370px;
    background-color: white;
    color: darkslategrey;
}

.currency-dropdown {
    max-height: 350px;
   // overflow-y: scroll;
    min-width:  465.87px;

}

.boton-subida{
    background-color: white;
    color: darkslategrey;
    
}

.botonP{
    min-width: 370px;
    background-color: white;
    color: darkslategrey;
}