.dropdown-toggle {
    margin-top: 10px;
    min-width: 465.87px;
    background-color: white;
    color: darkslategrey;
}

.currency-dropdown {
    max-height: 350px;
   // overflow-y: scroll;
    min-width:  465.87px;

}